fieldset {
    border: none;
    margin: 1rem 0;
}

header {
    /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    align-items: center;
}

header img {
    height: 64px;
    margin-right: 1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
}

aside {
    margin-left: 2em;
}

footer {
    margin-top: 1rem;
    font-size: small;
    color: gray;
}

.events-overview {
    border: 2px gray solid;
}

.event-changes {
    border: 2px gray dotted;
    padding: 5px;
}

#update-fields {
    border: 2px gray dotted;
    display: flex;
    flex-direction: column;
    max-width: 15em;
}