/* 
Colors from coolors.com
--desert-sand: #ecc8afff;
--middle-red: #dc876aff;
--feldgrau: #5b6c5dff;
--black-coffee: #3b2c35ff;
--xiketic: #221924ff;
*/

header {
    /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    color: #F3DDCD;
    /* text-decoration: underline 1px; */
}

header img {
    height: 64px;
    margin-right: 1em;
    margin-bottom: -1em;
}

h1 {
    padding: 0 .15em 0 .15em;
    border-radius: .1em;
    border-bottom: 2px solid #F3DDCD;
}

h2, h3, h4 {
    /* font-family: 'Zilla Slab', serif; */
    font-family: 'Exo', sans-serif;
    text-decoration: underline #b3b3b3 0.2rem;
}

h2 {
    font-size: 1.9rem;
    /* padding-left: 0.5rem; */
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.2rem;
}

body {
    background-color: #3b2c35ff;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    padding: 2em;
    background-color: white;
    border-radius: .7em;
}

aside {
    margin-left: 2em;
}

footer {
    margin-top: 1rem;
    font-size: small;
    color: gray;
}

button, input[type=submit] {
    /* color: white; */
    /* background: #440154FF; */
    font-size: .85em;
    padding: .65em 1em;
    margin: 0 .5rem 0 .5rem;
    border-radius: .5em;
}

.current-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1 em;
}

.current-user #display-current-user {
    margin-right: 4em;
}

fieldset {
    max-width: 15em;
    margin-left: 8px;
}

/* input, select {
    font-family: 'Roboto', sans-serif;
} */

.events-display {
    border: 2px gray solid;
}

.events-manage {
    border: 2px gray dotted;
    padding: 10px;
}

#update-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    max-width: 15em;
}